body {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 15vh 5vh 80vh;
    grid-template-areas: "h h" "n n" "m form";
    background-color: #e6f2e6;
    font-family: Arial, Helvetica, sans-serif;
}

body.login {
    width: 40%;
    display: block;
}

header {
    grid-area: h;
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-areas: "lo ti";
}

header a {
   grid-area: lo;
   text-align: right;
}

header img {
    padding-right: 0.5em;
    /* display: block;
    margin: auto; */
}

header h1 {
    grid-area: ti;
    display: flex;
    align-items: center;
    color: darkgreen;
    text-shadow: lightgray 0 5px 5px;
}

header h1:hover {
    text-shadow: lightgray 0 5px 5px;
}

nav {
    grid-area: n;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-areas: "p1 pa p2";
}

nav a {
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    text-decoration: none;
    display: block;
}

nav a:hover {
    font-weight: bold;
}

nav div.categoria {
    grid-area: p1;
}

nav div.paginas {
    grid-area: pa;
}

nav a.categoria, nav a.catalogo, nav a.cadastro, nav a.sessao {
    float:left;
}

nav a.paginas {
    float: left;
    padding-right: 2em;
}

nav a.categoria {
    border-right: solid medium black;
    padding-right: 2em;
}

nav a.catalogo {
    padding-left: 2em;
}

nav div.cadastro {
    grid-area: p2;
}

nav div.cadastro a.cadastro {
    margin-right: 2em;
}

main {
    margin-right: 2em;
    grid-area: m;
    display: grid;
    grid-template-rows: 26.66vh 26.66vh 26.66vh;
    grid-template-columns: 3.33fr 3.33fr 3.33fr;
    grid-template-areas: "f1 f2 f3" "f4 f5 f6" "f7 f8 f9";
}

main#categorias {
    display: none;
    margin-right: 3em;
    grid-area: m;
    grid-template-rows: 26.66vh 26.66vh 26.66vh;
    grid-template-columns: 3.33fr 3.33fr 3.33fr;
    grid-template-areas: "f1 f2 f3" "f4 f5 f6" "f7 f8 f9";
}

main.login {
    display: block;
}

main div {
    background-color: #f8f8f8;
    display: grid;
    margin-right: 3em;
}

main div.editavel {
    grid-template-rows: 4vh 11vh 7.5vh;
    grid-template-columns: 5fr 1fr 2fr 2fr;
    grid-template-areas: "es es ed de" "no no fo fo" "qu da da da";
}

main div.visualizavel {
    grid-template-rows: 4vh 11vh 7.5vh;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas: "es es es es es es es" "no no no no fo fo fo" "qu qu da da da pr pr";
}

main#categorias div {
    background-color: #f8f8f8;
}

main div.f1 {
    grid-area: f1;
    margin: 1em 1em 0.5em 0;
    border-radius: 0.5em;
    box-shadow: lightgray 0px 0px 20px 4px;
}

main div.f2 {
    grid-area: f2;
    margin: 1em 1em 0.5em 0;
    border-radius: 0.5em;
    box-shadow: lightgray 0px 0px 20px 4px;
}

main div.f3 {
    grid-area: f3;
    margin: 1em 0 0.5em 0;
    border-radius: 0.5em;
    box-shadow: lightgray 0px 0px 20px 4px;
}

main div.f4 {
    grid-area: f4;
    margin: 0.5em 1em 1em 0;
    border-radius: 0.5em;
    box-shadow: #d3d3d3 0px 0px 20px 4px;
}

main div.f5 {
    grid-area: f5;
    margin: 0.5em 1em 1em 0;
    border-radius: 0.5em;
    box-shadow: lightgray 0px 0px 20px 4px;
}

main div.f6 {
    grid-area: f6;
    margin: 0.5em 0 1em 0;
    border-radius: 0.5em;
    box-shadow: lightgray 0px 0px 20px 4px;
}

main div.f7 {
    grid-area: f7;
    margin: 0 1em 1.5em 0;
    border-radius: 0.5em;
    box-shadow: lightgray 0px 0px 20px 4px;
}

main div.f8 {
    grid-area: f8;
    margin: 0 1em 1.5em 0;
    border-radius: 0.5em;
    box-shadow: lightgray 0px 0px 20px 4px;
}

main div.f9 {
    grid-area: f9;
    margin: 0 0 1.5em 0;
    border-radius: 0.5em;
    box-shadow: lightgray 0px 0px 20px 4px;
}

main#categorias div.frutas {
    background-image: url(Conteudo/salada-de-frutas.jpg);
    background-size: cover;
}

main#categorias div.verduras {
    background-image: url(Conteudo/verduras.jpg);
    background-size: cover;
}

main#categorias div.legumes {
    background-image: url(Conteudo/legumes.jpeg);
    background-size: cover;
}

main#categorias div.graos {
    background-image: url(Conteudo/);
    background-size: cover;
}

.cor-frutas {
    border-top: solid 0.7em red;
}

.cor-legumes {
    border-top: solid 0.7em lightgreen;
}

.cor-verduras {
    border-top: solid 0.7em darkgreen;
}

.cor-graos {
    border-top: solid 0.7em wheat;
}

.cor-padrao {
    border-top: solid 0.7em black;
}

main div.estado-otimo, main div.estado-bom, main div.estado-ruim {
    margin-right: revert;
}

main div.estado-otimo {
    grid-area: es;
    background-color: lightgreen;
}

main div.estado-bom {
    grid-area: es;
    background-color: lightgoldenrodyellow;
}

main div.estado-ruim {
    grid-area: es;
    background-color: lightcoral;
}

main div.editavel a.edit {
    grid-area: ed;
    background-color: green;
}

main div.editavel button.delete {
    border-style: none;
}

main div.editavel button.delete {
    grid-area: de;
    background-color: red;
}

main div p {
    margin-left: 1em;
    margin-right: 1em;
}

main div p.produto {
    grid-area: no;
    font-size: 1.4em;
    margin-top: 0.5em;
}

main div p.quant {
    grid-area: qu;
    margin-right: 0;
}

main div p.data {
    grid-area: da;
    text-align: center;
}

main div p.preco {
    grid-area: pr;
    text-align: right;
    margin-left: 0;
}

main#categorias a.nome {
    font-size: 2em;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
    width: 25%;
    height: 20%;
    background-color: rgb(54, 36, 15);
    border-radius: 0 0 0.4em 0;
    text-decoration: none;
}

main#categorias div.verduras a.nome {
    width: 35%;
}

main#categorias div.legumes a.nome {
    width: 34%;
}

main div p.foto {
    grid-area: fo;
    margin: 0;
}

main div p.foto img {
    width: 100%;
    height: 100%;
}

main div p.sem_foto {
    margin-top: 1em;
    margin-right: 0.90em;
    text-align: right;
}

main div svg {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main a.edit, main button.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

aside#formularios {
    grid-area: form;
}

aside#formularios form#atualizacao {
    display: none;
}

form label {
    display: block;
    float: left;
    width: 30%;
}

form input {
    display: block;
    width: 60%;
}

form#login input {
    margin-bottom: 1.5em;
}

form#login input[type="submit"] {
    width: 10%;
}

form select {
    display: block;
}

form select, form input[type="date"], form input[type="number"] {
    width: 20%;
}

form h2 {
    color: darkgreen;
}
